.achievement {
  background-color: #f2f2f2;
  padding-bottom: 42px;
  border: 2px solid red;
}

.achievement__legend {
  color: @red;
  text-transform: uppercase;
  padding-top: 40px;
}

.achievement__item {
  font-size: 18px;
  margin-top: 46px;
}

@media (min-width: @desktop-width) {
  .achievement__list {
    display: flex;
    flex-wrap: wrap;
  }

  .achievement__item {
    width: 300px;
  }
}
