.advantages {
  background:white;
  border: 2px solid red;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
}

.advantages__intro {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 50px;
  &--second {
    margin-bottom: 129px;
  }
}

.advantages__item {
  list-style-type: none;
}

.advantages__photo {
margin-top: 30px;
}
