.application {
  background: #1d2631;
  border: 2px solid transparent;
}

.application__wrapper {
  position: relative;
  top: 0;
  background: transparent;
  width: 498px;
  height: 314px;
  left: -173px;
  z-index: -1;
  margin-top: -465px;
}

.application__content {
  margin-top: 148px;
  z-index: 2;
}

.application__photo {
  &--hand {
    position: absolute;
    top: 176px;
    left: 0;
  }

  &--background {
    position: relative;
    top: 0;
    left: 0;
  }
}

.application__container {
  display: flex;
  flex-direction: column;
}

.application__download {
  display: inline-block;
  border: 4px solid white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 14px 36px;
  margin-top: 30px;
  border-radius: 33px;
}

.application__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
  margin-top: 33px;
  margin-bottom: 21px;
  width: 241px;
  margin-left: auto;
  margin-right: auto;
}

.application__logo--android {
  margin-top: 9px;
}

.application__logo--microsoft {
  margin-top: 12px;
}

.application__description {
  font-size: 14px;
  font-weight: 300;
  color: white;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 17px;
  line-height: 21px;
}

.application__motto {
  display: none;
}

@media (min-width: @tablet-width) {
  .application__container {
    display: flex;
    margin: auto;
    margin-top: -590px;
    // width: 620px;
  }

  .application__content {
    order: 1;
    width: 330px;
  }

  .application__wrapper {
    order: 2;
    z-index: 0;
    width: 866px;
    left: -100px;
    margin-top: -483px;
  }

  .application__photo--hand {
    height: 545px;
    width: 865px;
    margin-top: -161px;
  }

  .application__motto {
    display: block;
    color: white;
    font-size: 40px;
    font-weight: 300;
    margin-top: 92px;
    margin-bottom: 0;
    padding-left: 42px;
    padding-right: 42px;
    min-width: 186px;
    min-height: 126px;
  }

  .application__list {
    margin-top: 50px;
  }

  .application__description {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .application__container {
    width: 960px;
    margin: -586px auto auto;
  }

  .application__photo--hand {
    width: 1023px;
    height: 645px;
    left: 8px;
  }

  .application__wrapper {
    width: 1023px;
    left: 40px;
    margin-top: -569px;
  }

  .application__content {
    margin-top: -129px;
  }

  .application__motto {
    font-size: 50px;
  }

  .application__download {
    margin-top: 54px;
  }

  .application__list {
    margin-top: 70px;
  }

  .application__description {
    margin-top: 54px;
    width: 300px;
  }
}
