body {
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.list {
  list-style-type: none;
}

fieldset {
  border: none;
}
