body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  color: green;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.list {
  list-style-type: none;
}

fieldset {
  border: none;
}
