.contacts {
  border: 2px solid red;
}

.contacts__intro {
  margin-top: 50px;
  font-size: 24px;
}

.contacts__title {
  font-weight: 700;
  margin-bottom: 0;

  &--call {
    margin-top: 44px;
  }
}

.contacts__description {
  color: #d22856;
  margin-top: 11px;
}
