.copyright__link:hover path {
  fill: black;
}

.copyright__link:active path {
  fill: black;
  opacity: 0.3;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 8px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    font-size: 14px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    font-weight: normal;
    margin-right: 20px;
  }
}
