.form {
  border: 2px solid red;
}

@media (min-width: @mobile-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__name {
    order: 1;
  }

  .form__radio {
    order: 4;
  }

  .form-contacts {
    order: 3;
  }

  .form__checkbox {
    order: 2;
  }

  .form__textarea {
    order: 5;
  }

  .form__submit--wrapper {
    order: 6;
  }
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__submit--wrapper {
    display: flex;
    justify-content: space-around;
    order: 6;
  }

  .form__name {
    order: 1;
  }

  .form__radio {
    order: 2;
  }

  .form-contacts {
    order: 3;
  }

  .form__checkbox {
    order: 4;
  }

  .form__textarea {
    order: 5;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 940px;
    margin: 0 auto;
  }

  .form__name,
  .form__radio {
    width: 433px;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .form__checkbox {
    min-width: 940px;
  }
}
