.form-application {
  background-color: #f2f2f2;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.form-application__legend {
  color: #d22856;
  text-transform: uppercase;
  padding-top: 34px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.form-application__item {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 46px;
}

.form-application__list {
  padding-left: 0;
  margin-top: 33px;

  @media (min-width: @tablet-width) {
    margin-top: 44px;
  }
}

.form-application__label {
  display: block;
  position: relative;
  cursor: pointer;
  text-align: left;
  padding-left: 76px;

  @media (min-width: @tablet-width) {
    padding-left: 120px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 133px;
  }
}

.form-application__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-application__checkmark {
  position: absolute;
  top: -6px;
  left: 4px;
  width: 37px;
  height: 36px;
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: 56px;
  }

  @media (min-width: @desktop-width) {
    left: 72px;
  }
}

.form-application__label:hover input ~ .form-application__checkmark {
  border: solid 2px black;
}

.form-application__label:active input ~ .form-application__checkmark {
  border: solid 2px #d22856;
}

.form-application__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form-application__label input:checked ~ .form-application__checkmark::after {
  display: block;
}

.form-application__label .form-application__checkmark::after,
.form-application__label:active input ~ .form-application__checkmark::after {
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d22856;
}
