.impressions {
  margin-top: 41px;
  padding: 0;
  color: #d22856;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
    margin-top: 55px;
    height: 220px;
  }
}

.impressions__label {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.impressions__text {
  font-size: 18px;
  line-height: 30px;

  margin-top: 17px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 20px;

  border: 2px solid #e5e5e5;
  width: 240px;
  height: 170px;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 455px;
    height: 165px;
    margin-bottom: 50px;
    margin-top: 35px;
  }

  @media (min-width: @desktop-width) {
    height: 99px;
    width: 778px;
  }
}

.impressions__text:hover {
  border: 2px solid black;
}

.impressions__text:active,
.impressions__text:focus {
  border: 2px solid @red;
}
