.impressions {
  margin-top: 41px;
  padding: 0;
  color: #d22856;
  text-transform: uppercase;
}

.impressions__text {
  margin-top: 19px;
  padding: 20px 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  width: 240px;
  height: 200px;

  @media (min-width: @tablet-width) {
    width: 500px;
    height: 190px;
  }

  @media (min-width: @desktop-width) {
    width: 820px;
    height: 126px;
  }
}
