.impressions {
  margin-top: 41px;
  padding: 0;
  color: #d22856;
  text-transform: uppercase;
  border: 2px solid red;
}

.impressions__text {
  margin-top: 19px;
  padding: 0;
}

.submit-button {
  background-color: #2aab6d;
  margin-top: 52px;
  font-size: 18px;
  line-height: 30px;
}

.form__required {
  margin-top: 46px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
}
