.main-nav {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  min-height: 95px;
  margin: 0 auto;
  background-color: @dark;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    // width: 660px;
    height: 106px;
    display: flex;
    justify-content: space-around;
    text-transform: none;
    padding-right: 128px;
    padding-left: 100px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__background {
  margin-top: -71px;
  height: 240px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: -10px -12px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    height: 440px;
    margin-top: -111px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__background--index {
  height: 466px;

  @media (min-width: @tablet-width) {
    height: 729px;
  }
}
