.name__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.name__label {
  color: @red;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
  }
}

.name__label--text {
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  margin-left: 28px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    margin-top: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-top: -37px;
  }
}

.name__input::placeholder {
  .placeholder(@green, 20px);
}

.name__input {
  outline: none;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 18px;
  margin-left: 6px;
  margin-right: 20px;
  flex-grow: 1;
  .placeholder(@green, 20px);

  @media (min-width: @tablet-width) {
    margin-right: -4px;
    margin-top: 31px;
    margin-left: 25px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 48px;
    margin-top: 8px;
    margin-left: 7px;
  }
}

.name__input:hover {
  border: 2px solid black;
}

.name__input:active,
.name__input:focus {
  border: 2px solid @red;
}

@media (min-width: @mobile-width) {
  .name__input {
    width: 240px;
  }
}

@media (min-width: @desktop-width) {
  .name {
    padding-left: 0;
    margin-left: 10px;
  }

  .name__input {
    width: 300px;
  }
}
