.name__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.name__label {
  color: @red;
  text-transform: uppercase;
}

.name__label--text {
  display: block;
  text-align: left;
  margin-left: 50px;
}

.name__input::placeholder {
  .placeholder(@green, 20px);
}

.name__input {
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 26px;
  .placeholder(@green, 20px);
}

@media (min-width: @mobile-width) {
  .name__input {
    width: 280px;
  }
}
