
.page-header {
  display: flex;
  flex-direction: column;
  background: @dark;
  color: white;
  border: 2px solid red;
}

.page-header__logo {
  height: 24px;
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 25px;
  display: block;
}

.page-header__logo img {
  width: 77px;
  height: 24px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 41px;
    width: 150px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 940px;
    margin: 0 auto;
  }

  .page-header__container {
    width: 1200px;
  }

  .page-header__logo {
    height: 41px;
    margin: auto;
    margin-left: 130px;
  }
}
