.page-footer {
  border: 2px solid red;
}

.page-footer__logo-image {
  margin-top: 64px;
}

.page-footer__copyright {
  margin-top: 40px;
}

@media (min-width: @mobile-width) {
  .page-footer--index {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 940px;
    margin: 0 auto;
  }
}

.social__link {
  border: solid 2px grey;
  border-radius: 50%;
  padding: 10px 10px;
}

