.photos {
  border: 2px solid red;
}

.photos__panorama--image {
  background-image: url("/img/panorama-mobile@1x.jpg");
  background-size: cover;
  background-position: 0 -10px;
  height: 144px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("/img/panorama-tablet@1x.jpg");
    height: 510px;
    background-position: 0 0;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/panorama-desktop@1x.jpg");
    height: 506px;
  }
}

.photos__list {
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.photos__item {
  background-color: #f2f2f2;
  text-align: left;
  margin-bottom: 20px;
}

.photos__text--wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  font-size: 14px;
  line-height: 24px;
}

.photos__text--like-wrapper {
  display: flex;
}

.photos__texts {
  font-size: 14px;
  line-height: 24px;
  text-align: left;

  padding-left: 20px;
  padding-right: 49px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: -24px;

  background-color: #f2f2f2;

  &--like {
    text-transform: uppercase;
    margin-top: 20px;
    color: @red;
  }

  @media (min-width: @tablet-width) {
    margin-top: 0;
    padding-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 910px;
    margin: 0 auto;
  }
}

.photos__text--author {
  margin-bottom: 0;
  padding-top: 20px;
}

.photos__text--name {
  font-weight: 700;
}

.photos__text--description {
  margin-top: 0;
  margin-bottom: 0;
}

.photos__text--like {
  margin-top: 9px;
  padding-bottom: 21px;
  padding-left: 28px;
  color: @red;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  position: relative;
}

.photos__text--panorama-heart::after {
  content: "";
  position: absolute;
  background-image: url("/img/icon-heart.svg");
  width: 13px;
  height: 12px;
  left: 40px;
  margin-top: 16px;
}

.photos__text--list-heart::after {
  content: "";
  position: absolute;
  background-image: url("/img/icon-heart.svg");
  width: 13px;
  height: 12px;
  left: 40px;
  margin-top: 16px;
}

.photos__text--time {
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos__item {
    min-width: 300px;
    min-height: 456px;
  }

  .photos__texts {
    display: flex;
    flex-wrap: wrap;
    width: 593px;
    padding: 0;
    padding-left: 27px;
  }

  .photos__text--author {
    order: 1;
    margin-right: auto;
    padding-top: 10px;
  }

  .photos__text--time {
    font-size: 12px;
  }

  .photos__text--description {
    order: 3;
  }

  .photos__text--like {
    order: 2;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 20px;
    margin-top: 25px;
    text-align: right;
    padding-right: 61px;
  }

  .photos__text--panorama-heart::after {
    left: 599px;
    margin-top: 28px;
  }
}

@media (min-width: @desktop-width) {
  .photos__item {
    width: 300px;
    min-height: 555px;
  }

  .photos__list {
    width: 940px;
    margin: 0 auto;
  }

  .photos__panorama {
    margin: auto;
    // width: 940px;
  }

  .photos__texts {
    width: 910px;
  }

  .photos__text--panorama-heart::after {
    left: 1025px;
  }
}
