.photos {
  border: 2px solid red;
}

.page-main__photos {
  margin-top: 50px;
}

.photos__item {
  background-color: #f2f2f2;
}

.photos__text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 24px;

  &--like {
    text-transform: uppercase;
    margin-top: 20px;
    color: @red;
  }
}

.photos__text--name {
  font-weight: 700;
}

.photos__text--time {
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos__item {
    min-width: 300px;
    min-height: 456px;
  }

  .photos__texts {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
  }

  .photos__text--author {
    order: 1;
    margin-right: auto;
  }

  .photos__text--description {
    order: 3;
  }

  .photos__text--like {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .photos__item {
    width: 300px;
    min-height: 555px;
  }

  .photos__list {
    width: 940px;
    margin: auto;
  }

  .photos__texts {
    width: 940px;
  }

  .photos__panorama {
    margin: auto;
    width: 940px;
  }
}
