.price-plan {
  background: #f2f2f2;
  z-index: -2;
  position: relative;
  padding-top: 100px;
}

.price-plan__list {
  text-transform: uppercase;
}

.price-plan__toggles {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}

@media (min-width: @mobile-width) {
  .price-plan__wrapper {
    position: relative;
  }

  .price-plan__table {
    overflow: hidden;
  }

  .price-plan__item {
    float: left;
    // width: 280px;
    // height: 280px;
  }
  // .price-plan__list {
  //   display: flex;
  // }
  .price-plan__item--no-heading {
    display: none;
  }

  .price-plan__option {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .price-plan {
    margin: auto;
    padding-top: 0;
    margin-top: -4px;
  }

  .price-plan__list {
    display: flex;
    margin-top: 150px;
    padding: 0;
    width: 620px;
    margin-right: auto;
    margin-left: auto;
  }

  .price-plan__options.heading li:first-child {
    border-top: none;
  }

  .price-plan__option {
    border: solid 2px #e5e5e5;
    border-top: 0;
    width: 152px;
    vertical-align: middle;
    line-height: 45px;
    height: 45px;
    background: white;
  }

  .price-plan__options.no-heading .price-plan__option {
    width: 135px;
    padding-left: 18px;
  }

  .price-plan__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: auto;
  }

  .price-plan__option:first-child {
    border-top: solid 2px #e5e5e5;
  }

  .price-plan__options {
    padding-left: 0;
  }

  .price-plan__item {
    width: 154px;
  }

  .price-plan__item--header {
    display: block;
    margin-top: -71px;
    width: 100%;
    height: 75px;
    background-color: #283645;
    color: white;
    border: solid 2px white;
    border-bottom: none;
    border-top: none;
    position: relative;
  }

  .price-plan__item--no-heading {
    display: block;
    padding-top: 18px;
    font-size: 14px;
    text-transform: none;
  }

  .price-plan__item--name {
    padding-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
  }

  .price-plan__item--cost {
    margin-top: 5px;
  }

  .price-plan__option--choice {
    display: none;
  }

  .price-plan__bg-hit-icon {
    position: absolute;
    width: 61px;
    height: 61px;
    left: 0;
  }

  .price-plan__bg-hit-text {
    position: absolute;
    left: 6px;
    top: 12px;
    transform: rotate(-45deg);
    font-weight: bold;
  }
}
