.reviews {
  background: white;
  margin-top: -91px;
}

.reviews__wrapper-main {
  height: 353px;
  position: relative;

  &::after {
    background: white;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: 0;
    transform: skewY(-4.6deg);
    transform-origin: 100%;
    backface-visibility: hidden;
  }
}

.reviews__wrapper {
  margin-top: 46px;
  margin-bottom: 27px;
  font-size: 18px;
  padding-top: 30px;
}

.reviews__item {
  width: 271px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  margin-top: 18px;
}

.reviews__toggles {
  margin-bottom: 127px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @mobile-width) {
  .reviews__author-age {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    margin-top: 0;
  }

  .reviews__wrapper {
    margin: auto;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    order: 1;
  }

  .reviews__author-name {
    order: 2;
  }

  .reviews__author-age {
    display: block;
    order: 3;
  }
}
