.reviews {
  background: #f2f2f2;
  margin-top: -93px;
}

.reviews__wrapper {
  margin-top: 46px;
  margin-bottom: 42px;
  font-size: 18px;
  padding-top: 30px;
}

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  margin-top: 20px;
}

.reviews__toggles {
  margin-bottom: 127px;
}

@media (min-width: @mobile-width) {
  .reviews__author-age {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 940px;
    margin: auto;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    order: 1;
  }

  .reviews__author-name {
    order: 2;
  }

  .reviews__author-age {
    display: block;
    order: 3;
  }
}
