.site-list {
  font-weight: bold;
}

.site-list a {
  display: block;
  padding: 25px 21px;
  padding-bottom: 25px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.site-list a[href] {
  &:hover {
    color: #d22856;
    border-top-color: #485461;
  }

  &:active {
    color: #5d354e;
    border-top-color: #485461;
  }
}

.site-list__item {
  padding: 0 auto;
  list-style-type: none;
}

.site-list__link {
  text-decoration: none;
  color: white;
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .site-list a {
    text-transform: none;
    border: none;
    font-weight: normal;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}
