.social__list {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  padding-left: 72px;
  padding-right: 72px;

  @media (min-width: @tablet-width) {
    padding-left: 74px;
    padding-right: 62px;
  }

  // @media (min-width: @tablet-width) {
  //   padding-left: 82px;
  //   padding-right: 73px;
  // }
}

.social__link {
  border: solid 3px #eaebed;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: block;
  padding: 0;

  &--twitter {
    padding: 15px;
  }

  &--youtube {
    padding: 16px;
    padding-left: 18px;
  }

  &--facebook {
    padding: 13px;
  }
}

.social__link:hover {
  border: solid 3px black;
}

.social__link:active {
  border: solid 3px #eaebed;
}


.social__link:active path {
  fill: #f1becc;
}
