.upload {
  background-color: #f2f2f2;
  margin-top: 46px;
  padding-bottom: 42px;
  border: 2px solid red;
}

.upload__image {
  margin-top: 20px;
}

.upload__list {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.upload__range {
  margin-top: 32px;
}

@media (min-width: @mobile-width) {
  .upload__item--range-crop,
  .upload__item--range-contrast {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .upload {
    display: flex;
    justify-content: space-around;
  }

  .upload__list {
    flex-direction: column;
  }

  .upload__range {
    display: flex;
    flex-direction: column;
  }

  .upload__wrapper {
    display: flex;
  }

  .upload__item--wrapper {
    display: flex;
  }

  .upload__item--range-crop,
  .upload__item--range-contrast {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .upload__button {
    display: flex;
    justify-content: space-between;
  }
}
